<h1 style="text-align:center">{{ titulo }}</h1>

<form action="">
  <input type="text" name="nombre" [(ngModel)]="nombre" /><br />
  <input type="text" name="apellido" [(ngModel)]="apellido" /><br />
  <input type="text" name="cargo" [(ngModel)]="cargo" /><br />

  <input type="submit" value="Registrar" (click)="registrarUsuario()" />
</form>

<br />
<p *ngIf="registrado; else sinRegistrar">
  {{ mensaje }} y su cargo es
  <span [ngClass]="{ paraDirectores: cargo == 'director' }">{{ cargo }} </span>
</p>

<ul *ngFor="let blog of blogs">
  <li>{{ blog }}</li>
</ul>

<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>
